div.wrapper {
  height:200px;
  border:1px solid silver;
  position:relative;
}
.movil
{
  background-image: radial-gradient(farthest-corner at 40px 40px,
      #f35 0%, #43e 100%);
  width:2rem;
  height:2rem;
  border-radius: 1rem;
  border:none;
  position:absolute;
  transform-origin:center center;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)

}
